{% extends 'blog/base.html' %}
{% load i18n %}

{% block title %} {% trans "Password Change" %}{% endblock %}
{% block content %}
    <h1>{% trans "Change Password...." %}</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary" type="submit">{% trans "Password Change" %}</button>
        </form>
    </div>
    <div>
        <button type="button" id="generatePasswordButton" class="btn btn-outline-secondary">
            {% trans "Simple Password" %}
        </button>
        <div class="mt-2 d-flex align-items-center">
            <strong class="me-2">{% trans "Generated Password:" %}</strong>
            <span id="generatedPassword" class="text-success me-2"></span>
            <button type="button" id="copyPasswordButton" class="btn btn-outline-primary btn-sm">
                {% trans "Copy" %}
            </button>
        </div>
    </div>
{% endblock %}
