{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{% trans "Join Today" %}</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="button" id="generatePasswordButton" class="btn btn-outline-secondary">
                {% trans "Simple Password" %}
            </button>
            <div class="mt-2 d-flex align-items-center">
                <strong class="me-2">{% trans "Generated Password:" %}</strong>
                <span id="generatedPassword" class="text-success me-2"></span>
                <button type="button" id="copyPasswordButton" class="btn btn-outline-primary btn-sm">
                    {% trans "Copy" %}
                </button>
            </div>
        </div>
        <div class="form-group mt-4">
            <button class="btn btn-outline-info" type="submit">{% trans "Sign Up" %}</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            {% trans "Already Have An Account?" %} 
            <a class="ml-2" href="{% url 'login' %}">{% trans "Sign In" %}</a>
        </small>
    </div>
</div>


{% endblock content %}

